.card-enterprise-wrapper {
    width: 100%;
    padding: 1.914rem 1.688rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--white-two);
    margin-top: 2.75rem;
    border-radius: 4.7px;
    cursor: pointer;
}

.card-enterprise-image {
    background-color: var(--green-grass);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-two);
    width: 293px;
    min-height: 160px;
    font-size: 4rem;
    font-family: Roboto;
    font-weight: bold;
    position: relative;
    margin-right: 2.397rem;
}

.card-enterprise-image img {
    width: 100%;
    height: auto;
}

.enterprise-name {
    font-family: Roboto;
    font-size: 1.875rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--dark-indigo);
}

.enterprise-business-type {
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
}

.enterprise-country {
    font-family: Roboto;
    font-size: 1.125rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
}

@media screen and (max-width: 768px) {
    .card-enterprise-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .card-enterprise-image {
        width: 100%;
        min-height: auto;
        margin-right: unset;
    }
    .card-enterprise-image img {
        width: 100%;
        height: auto;
    }
}