:root {
    --white: #d8d8d8;
    --white-two: #ffffff;
    --dark-indigo: #1a0e49;
    --warm-grey: #8d8c8c;
    --greeny-blue: #57bbbc;
    --charcoal-grey: #383743;
    --charcoal-grey-two: #403e4d;
    --greyish: #b5b4b4;
    --night-blue: #0d0430;
    --medium-pink: #ee4c77;
    --red-danger: #ff0f44;
    --green-grass: #7dc075;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: GillSans;
    src: url('./assets/fonts/gill-sans.otf') format('opentype');
}

@font-face {
    font-family: SourceSansPro;
    src: url('./assets/fonts/SourceSansPro-Regular.ttf') format('truetype');
}